.home-container{
    background-image: url(../images/bgPattern.png);
    background-position: top;
    background-repeat: no-repeat;

    width: 100%;
    position: absolute;
    display: flex;
    gap: 8rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content{
    position: relative;
    top: 5rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 2rem;
    
}

.title{
    font-size: 5rem;
    text-align: center;
}
.discription{
    font-size: 1.4rem;
    text-align: center;
}
.title >span{
    font-size: 72px;
    background: -webkit-linear-gradient(#FF0276, #7209B7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}


/* backed by container */

.backed-by-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 60%;
    box-shadow: 0px 5px 40px -3px #7209B7 ;
    padding: 1.2rem;
    border-radius: 2rem;
  
}

.backed{
    font-size: 1.4rem;
    margin-top: 2rem;
}

.backed-by-container img{
    object-fit: contain;
    width: 30%;
}

.backed-disc{
    
    position: relative;
    top: 3rem;
    font-size: 1.5rem;
    text-align: center;
}